.section-intro {
  display: flex;
  align-items: flex-end;
  padding-left: 12rem;
  padding-right: 12rem;
  padding-bottom: 15.9rem;
  min-height: 100vh;
  background-size: cover;
  background-position: center;

  .container {
    max-width: 111rem;
  }
}
