.section-4 {
  .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    height: 100%;

    @include breakpoint(xl, max) {
      flex-wrap: wrap;
    }

    .col-4 {
      &:nth-child(1),
      &:nth-child(2) {
        @include breakpoint(xl, max) {
          border-bottom: solid 0.1rem #4d4540;
        }
      }

      &:last-child {
        @include breakpoint(lg, max) {
          border-top: solid 0.1rem #4d4540;
        }
      }

      @include breakpoint(xl, min) {
        min-width: 50rem;
      }

      @include breakpoint(xl, max) {
        width: 50%;
      }

      @include breakpoint(lg, max) {
        width: 100%;
      }
    }
  }

  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    border-left: solid 0.1rem #4d4540;
    background-size: cover;

    @include breakpoint(xl, max) {
      min-height: 70vh;
    }

    @include breakpoint(md, max) {
      min-height: 50vh;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(black, 0.4);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #2f2722;
      transition: 1.5s;
    }

    .icon-holder {
      margin-bottom: 1.2rem;
    }

    .card-title {
      margin-bottom: 1.2rem;
      font-weight: 400;
      font-size: 3.2rem;
      line-height: 1.4;

      @include breakpoint(md, max) {
        font-size: 2.3rem;
      }
    }

    .text-holder {
      margin-bottom: 2.4rem;
      max-width: 37.9rem;
      font-size: 1.6rem;
      line-height: 1.6;

      @include breakpoint(md, max) {
        font-size: 1.4rem;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .content-holder {
      position: relative;
      z-index: 2;
      transition: 1s;
    }

    .btn {
      min-width: 22rem;
    }

    &:hover {
      .content-holder {
        @include breakpoint(md, min) {
          transform: translateY(20%);
        }
      }

      &::after {
        @include breakpoint(md, min) {
          opacity: 0;
        }
      }
    }
  }
}
