.section-2 {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 13.4rem;
  padding-left: 20.1rem;
  padding-right: 12vh;
  background: #2f2722;
  z-index: 1;

  @include breakpoint(xl, max) {
    padding-top: 10rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30rem;
  }

  @include breakpoint(md, max) {
    padding-bottom: 7rem;
  }

  .container {
    max-width: 100%;
  }

  .row {
    @include breakpoint(xl, max) {
      flex-direction: column;
    }

    .col-6 {
      @include breakpoint(xl, max) {
        width: 100%;
      }
    }
  }

  .card {
    display: flex;

    @include breakpoint(lg, max) {
      flex-direction: column;
      text-align: center;
    }

    .title {
      font-weight: 400;
    }

    .img-holder {
      width: 100%;
      flex-shrink: 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .text-holder {
      font-size: 1.6rem;
      line-height: 1.6;

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.card-1,
    &.card-2 {
      .img-holder {
        @include breakpoint(lg, min) {
          margin-right: 6.05rem;
        }

        @include breakpoint(lg, max) {
          margin-bottom: 2rem;
        }
      }

      .content-holder {
        max-width: 48rem;
      }
    }

    &.card-1 {
      align-items: center;

      @include breakpoint(lg, max) {
        margin-bottom: 7rem;
      }

      .title {
        margin-bottom: 1.2rem;
        font-size: 4.9rem;
        line-height: 1.4;
      }

      .year {
        margin-bottom: 2rem;
        font-size: 3.1rem;
        line-height: 1.39;

        span {
          font-size: 9.9rem;

          @include breakpoint(lg, max) {
            font-size: 7.5rem;
          }
        }
      }

      .img-holder {
        max-width: 48.6rem;

        @include breakpoint(md, max) {
          max-width: 38.6rem;
        }
      }
    }

    &.card-2 {
      @include breakpoint(lg, min) {
        align-items: flex-end;
      }

      @include breakpoint(xl, min) {
        transform: translate(-10%, -16%);
      }

      @include breakpoint(lg, max) {
        align-items: center;
      }

      .content-holder {
        padding-bottom: 8.6rem;
      }

      .img-holder {
        max-width: 44.1rem;
        transform: rotate(-1.86deg);

        @include breakpoint(md, max) {
          max-width: 34rem;
        }
      }
    }

    &.card-3 {
      align-items: center;

      .title {
        font-size: 3.2rem;
        line-height: 1.4;
      }

      .img-holder {
        max-width: 36.7rem;
        transform: rotate(1.78deg);

        @include breakpoint(lg, min) {
          margin-right: 6.2rem;
        }

        @include breakpoint(lg, max) {
          margin-bottom: 2rem;
        }

        @include breakpoint(md, max) {
          max-width: 29rem;
        }
      }

      .content-holder {
        max-width: 52rem;
      }
    }
  }

  .decor-1 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 81.8rem;
    height: 50.8rem;
    background-image: url("#{$images}img-06.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;

    @include breakpoint(xl, max) {
      width: 61.8rem;
      height: 35.8rem;
    }

    @include breakpoint(lg, max) {
      width: 41rem;
      height: 28rem;
    }

    @include breakpoint(md, max) {
      display: none;
    }
  }
}
