.page-home {
  position: relative;
  width: 100%;
  height: auto;

  @include breakpoint(xl, min) {
    display: flex;
    flex-direction: row;
  }

  .section {
    display: flex;
    position: relative;
    white-space: normal;

    &.section-1 {
      width: 100vw;
    }

    &.section-2 {
      @include breakpoint(xl, min) {
        min-width: 344.2vh;
      }
    }

    &.section-3 {
      @include breakpoint(xl, min) {
        min-width: 374.2vh;
      }
    }
  }
}
