<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>test</title>
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-zoom.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-thumbnail.css" />
</head>

<body>
  <div class="wrapper">
    <!--  header -->
    <header class="header">
      <div class="container">
        <div class="left-side">
          <a href="#" class="logo">
            <span class="img-holder">
              <img src="images/logo.svg" alt="лого">
            </span>
            <p>
              Кам'янець-Подільський <br>
              державний історичний <br>
              <span>музей-заповідник</span>
            </p>
          </a>
        </div>
        <div class="right-side">
          <ul class="list-langs">
            <li class="active">
              <a href="#">Укр</a>
            </li>
            <li>
              <a href="#">Eng</a>
            </li>
          </ul>
          <ul class="menu-socials">
            <li>
              <a href="#">
                <span class="icon-holder">
                  <img src="images/facebook-logo.svg" alt="...">
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-holder">
                  <img src="images/instagram-logo.svg" alt="...">
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-holder">
                  <img src="images/viber.svg" alt="...">
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-holder">
                  <img src="images/youtube.svg" alt="...">
                </span>
              </a>
            </li>
          </ul>
          <button type="button" class="menu-toggle open-menu">
            <span>
              <i></i>
            </span>
            <em>меню</em>
            <em>закрити</em>
          </button>
        </div>
      </div>
    </header>
    <!-- / header -->
    <main id="main">
      <div class="page-home">
        <div class="section-intro" style="background-image: url(images/img-01.jpg);">
          <div class="container">
            <h1 class="h1">КАМ'ЯНЕЦЬ-ПОДІЛЬСЬКИЙ <br> ДЕРЖАВНИЙ ІСТОРИЧНИЙ <br> МУЗЕЙ-ЗАПОВІДНИК</h1>
          </div>
        </div>
      </div>
    </main>
    <!--  footer -->
    <footer class="footer">
    </footer>
    <!-- / footer -->
  </div>
</body>

</html>