<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>test</title>
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-zoom.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-thumbnail.css" />
</head>

<body>
  <div class="wrapper">
    <!--  header -->
    <header class="header">
      <div class="container">
        <div class="left-side">
          <a href="#" class="logo">
            <span class="img-holder">
              <img src="images/logo.svg" alt="лого">
            </span>
            <p>
              Кам'янець-Подільський <br>
              державний історичний <br>
              <span>музей-заповідник</span>
            </p>
          </a>
        </div>
        <div class="right-side">
          <ul class="list-langs">
            <li class="active">
              <a href="#">Укр</a>
            </li>
            <li>
              <a href="#">Eng</a>
            </li>
          </ul>
          <ul class="menu-socials">
            <li>
              <a href="#">
                <span class="icon-holder">
                  <img src="images/facebook-logo.svg" alt="...">
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-holder">
                  <img src="images/instagram-logo.svg" alt="...">
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-holder">
                  <img src="images/viber.svg" alt="...">
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-holder">
                  <img src="images/youtube.svg" alt="...">
                </span>
              </a>
            </li>
          </ul>
          <button type="button" class="menu-toggle open-menu">
            <span>
              <i></i>
            </span>
            <em class="btn-title">меню</em>
            <em class="btn-close">закрити</em>
          </button>
        </div>
      </div>
      <div class="mega-menu">
        <div class="inner-holder">
          <ul class="menu">
            <li>
              <a href="#">Головна</a>
            </li>
            <li>
              <a href="#">Сторінка 1</a>
            </li>
            <li>
              <a href="#">Сторінка 2</a>
            </li>
            <li>
              <a href="#">Сторінка 3</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- / header -->
    <main id="main" data-scroll-container class="smoothScroll">
      <div class="page-home">
        <div class="section section-1" style="background-image: url(images/img-01.jpg);" data-section="section-1">
          <div class="section-overlay">
          </div>
          <div class="decor decor-1"></div>
          <div class="container">
            <h1 class="h1">КАМ'ЯНЕЦЬ-ПОДІЛЬСЬКИЙ <br> ДЕРЖАВНИЙ ІСТОРИЧНИЙ <br> МУЗЕЙ-ЗАПОВІДНИК</h1>
          </div>
        </div>
        <div class="section section-2" data-section="section-2">
          <div class="container">
            <div class="block-preview">
              <div class="text-holder">
                <p>Усіх, хто допитливий, не байдужий до історії та вміє цінувати прекрасне, ми запрошуємо відвідати Кам'янець-Подільський державний історичний музей-заповідник, де ви відкриєте для себе новий світ.</p>
              </div>
              <button class="btn btn-preview" scroll-to="section-2">
                <svg width="152" height="19" viewBox="0 0 152 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M142.721 0L142.204 0.51751L150.609 9.13035H0V9.86965H150.609L142.204 18.4751L142.721 19L152 9.5L142.721 0Z" fill="#ACA28F" />
                </svg>
              </button>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="card card-1">
                  <div class="img-holder">
                    <img src="images/img-02.png" alt="...">
                  </div>
                  <div class="content-holder">
                    <h3 class="title">
                      Історія
                    </h3>
                    <p class="year">
                      <svg width="250" height="88" viewBox="0 0 250 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M214.732 87.72C194.212 87.72 180.052 69.84 180.052 43.92C180.052 18 194.212 0.119995 214.732 0.119995C235.252 0.119995 249.292 18 249.292 43.92C249.292 69.84 235.252 87.72 214.732 87.72ZM214.732 76.44C228.052 76.44 237.292 63.72 237.292 43.92C237.292 24.12 228.052 11.4 214.732 11.4C201.412 11.4 192.052 24.12 192.052 43.92C192.052 63.72 201.412 76.44 214.732 76.44Z" fill="#ACA28F" />
                        <path d="M132.418 0.119995C147.778 0.119995 164.458 11.4 164.458 41.28C164.458 70.44 147.418 87.72 123.658 87.72C121.138 87.72 116.098 87.12 112.978 85.92L111.058 73.32C115.378 75.12 120.298 76.2 125.818 76.2C138.538 76.2 152.218 67.68 153.178 46.8C148.138 55.8 139.738 59.16 131.098 59.16C115.978 59.16 102.418 48.12 102.418 31.44C102.418 13.2 114.658 0.119995 132.418 0.119995ZM132.658 48.12C142.858 48.12 150.178 40.44 150.178 29.76C150.178 19.08 141.778 11.4 132.658 11.4C121.978 11.4 114.418 19.08 114.418 29.76C114.418 41.04 121.498 48.12 132.658 48.12Z" fill="#ACA28F" />
                        <path d="M78.1971 43.2C86.1171 47.16 90.7971 54.36 90.7971 62.52C90.7971 77.4 78.5571 87.72 61.3971 87.72C44.2371 87.72 31.9971 77.4 31.9971 62.52C31.9971 54.36 36.6771 47.16 44.5971 43.2C37.2771 39.24 32.9571 32.4 32.9571 24.72C32.9571 10.2 44.8371 0.119995 61.3971 0.119995C77.9571 0.119995 89.8371 10.2 89.8371 24.72C89.8371 32.4 85.5171 39.24 78.1971 43.2ZM61.3971 10.56C50.9571 10.56 44.2371 16.08 44.2371 24.72C44.2371 33.12 52.0371 38.52 61.3971 38.52C70.7571 38.52 78.5571 33.12 78.5571 24.72C78.5571 16.08 71.8371 10.56 61.3971 10.56ZM61.3971 77.28C72.4371 77.28 79.5171 71.52 79.5171 62.52C79.5171 53.76 71.8371 48.12 61.3971 48.12C50.9571 48.12 43.2771 53.76 43.2771 62.52C43.2771 71.52 50.3571 77.28 61.3971 77.28Z" fill="#ACA28F" />
                        <path d="M0.44165 6.84L12.4417 0V85.92H0.44165V6.84Z" fill="#ACA28F" />
                      </svg>
                      рік
                    </p>
                    <div class="text-holder">
                      <p>Заснований як «давньосховище» старожитностей на базі зібраних членами Комітету пам'яток з історії й культури Поділля та здійснених ними численних описів міст, містечок і сіл губернії.</p>
                    </div>
                  </div>
                </div>
                <div class="card card-2">
                  <div class="img-holder">
                    <img src="images/img-02.png" alt="...">
                  </div>
                  <div class="content-holder">
                    <div class="text-holder">
                      <p>З початку свого існування музей формувався як краєзнавчий заклад, що зосереджував різноманітні матеріали та відомості з місцевої історії, природи, народного побуту і мистецтва.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card card-3">
                  <div class="img-holder">
                    <img src="images/img-04.png" alt="...">
                  </div>
                  <div class="content-holder">
                    <h3 class="title">
                      Музей на Поділлі: <br>
                      Від Початків до Сьогодення
                    </h3>
                    <div class="text-holder">
                      <p>
                        З початку свого існування музей формувався як краєзнавчий заклад, що зосереджував різноманітні матеріали та відомості з місцевої історії, природи, народного побуту і мистецтва. 1903 у зв'язку з перетворенням Комітету на Подільське церковне історико-археологічне товариство відповідно змінилася й назва заснованого при ньому музею. Очолював обидві інституції відомий дослідник Поділля Ю.Сіцінський, який уклав та опублікував (1904, 1909) детальні описи пам'яток музею (понад 7,5 тис. одиниць зберігання).
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="decor decor-1"></div>
          <div class="decor decor-2"></div>
        </div>
        <div class="video-player" video-player>
          <video src="images/video-01.mp4" poster="images/img-05.jpg" loop="" muted=""></video>
          <button class="btn btn-play">
            <span class="text-circle"></span>
            <span class="icon-play"></span>
            <span class="sr-only">дивитись відео</span>
          </button>
        </div>
        <div class="section section-3" data-section="section-3">
          <div class="container">
            <div class="section-header">
              <h2 class="section-title">Музей сьогодні</h2>
              <div class="text-intro">
                <p>Кам'янець-Подільський державний історичний музей - це чарівне місце, де історія оживає перед вами. Розташований у самому серці старовинного міста Кам'янець-Подільського, цей музей - справжня перлина для туристів та історії бажаючих. Запрошуємо вас на захоплюючу подорож у минуле, де кожен експонат розповість свою непересічну історію.</p>
              </div>
            </div>
            <div class="section-content">
              <div class="content-left">
                <h3 class="h2">Ми в цифрах</h3>
                <div class="cards-holder">
                  <div class="card card-style-1">
                    <span class="number">
                      1890
                    </span>
                    <p>Рік заснування</p>
                  </div>
                  <div class="card card-style-1">
                    <span class="number">
                      191138
                    </span>
                    <p>Туристів за рік</p>
                  </div>
                  <div class="card card-style-1">
                    <span class="number">
                      6
                    </span>
                    <p>Кількість об‘ктів</p>
                  </div>
                  <div class="card card-style-1">
                    <span class="number">
                      174824
                    </span>
                    <p>Кількість експонатів</p>
                  </div>
                </div>
              </div>
              <div class="content-right">
                <h3 class="h2">Ми в цифрах</h3>
                <div class="cards-holder">
                  <div class="card card-style-2">
                    <div class="img-holder">
                      <img src="images/img-07.jpg" alt="...">
                    </div>
                    <h3 class="card-title">
                      Стара фортеця
                    </h3>
                  </div>
                  <div class="card card-style-2">
                    <div class="img-holder">
                      <img src="images/img-08.jpg" alt="...">
                    </div>
                    <h3 class="card-title">
                      Міська ратуша
                    </h3>
                  </div>
                  <div class="card card-style-2">
                    <div class="img-holder">
                      <img src="images/img-09.jpg" alt="...">
                    </div>
                    <h3 class="card-title">
                      Галерея мистецтв
                    </h3>
                  </div>
                  <div class="card card-style-2">
                    <div class="img-holder">
                      <img src="images/img-010.jpg" alt="...">
                    </div>
                    <h3 class="card-title">
                      Музей старожитностей
                    </h3>
                  </div>
                  <div class="card card-style-2">
                    <div class="img-holder">
                      <img src="images/img-011.jpg" alt="...">
                    </div>
                    <h3 class="card-title">
                      Виставкова зала
                    </h3>
                  </div>
                  <div class="card card-style-2">
                    <div class="img-holder">
                      <img src="images/img-012.jpg" alt="...">
                    </div>
                    <h3 class="card-title">
                      Туристично-Інформатичний центр
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="decor decor-1"></div>
        </div>
        <div class="section section-4" data-section="section-4">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="card" style="background-image: url(images/img-013.jpg);">
                  <div class="content-holder">
                    <div class="icon-holder">
                      <img src="images/icon-01.svg" alt="...">
                    </div>
                    <h3 class="card-title">Шлюб за добу</h3>
                    <div class="text-holder">
                      <p>Швидкий та зручний спосіб реєстрації шлюбу за 24 години у стінах музею чи на території Старого замку!</p>
                    </div>
                    <a href="#" class="btn btn-primary">
                      ДОКЛАДНІШЕ
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="background-image: url(images/img-014.jpg);">
                  <div class="content-holder">
                    <div class="icon-holder">
                      <img src="images/icon-03.svg" alt="...">
                    </div>
                    <h3 class="card-title">Вечірня екскурсія</h3>
                    <div class="text-holder">
                      <p>Гіди у костюмах XVII-XVIII ст. проведуть вас підземеллями та відкриють таємниці Старого замку.</p>
                    </div>
                    <a href="#" class="btn btn-primary">
                      ДОКЛАДНІШЕ
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="background-image: url(images/img-015.jpg);">
                  <div class="content-holder">
                    <div class="icon-holder">
                      <img src="images/icon-03.svg" alt="...">
                    </div>
                    <h3 class="card-title">Інтерактивні заходи</h3>
                    <div class="text-holder">
                      <p>Пропонуємо різноманітні розваги для дітей та дорослих - майстер-класи, квести, вечірні екскурсії!</p>
                    </div>
                    <a href="#" class="btn btn-primary">
                      ДОКЛАДНІШЕ
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="background-image: url(images/img-016.jpg);">
                  <div class="content-holder">
                    <div class="icon-holder">
                      <img src="images/icon-04.svg" alt="...">
                    </div>
                    <h3 class="card-title">Єдиний квиток</h3>
                    <div class="text-holder">
                      <p>Скористайтесь можливістю відвідати всі об'єкти музею та зекономити сімейний бюджет!</p>
                    </div>
                    <a href="#" class="btn btn-primary">
                      ДОКЛАДНІШЕ
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--  footer -->
    <footer class="footer">
      <ul class="sections-nav">
        <li>
          <a href="#" class="active" scroll-to="section-1">
            <span class="square"></span>
            ГОЛОВНА
          </a>
        </li>
        <li>
          <a href="#" scroll-to="section-2">
            <span class="square"></span>
            Історія
          </a>
        </li>
        <li>
          <a href="#" scroll-to="section-3">
            <span class="square"></span>
            ОБʼЄКТИ
          </a>
        </li>
        <li>
          <a href="#" scroll-to="section-4">
            <span class="square"></span>
            ПОСЛУГИ
          </a>
        </li>
      </ul>
    </footer>
    <!-- / footer -->
  </div>
</body>

</html>